@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;

  --color-brand-light: #F4F0E3;
  --color-brand-green: #BFE8B7;
  --color-brand-green-accent: #B6F28A;
  --color-brand-green-slider: #7ED957;

  --color-text-primary: #111111;
  --color-text-secondary: #4A4A4A;

  --color-card-bg: #F3F3F3;
  --color-card-border: #1A1A1A;
}

@layer base {
  body {
    @apply font-sans text-text-primary bg-brand-light antialiased;
  }
}
